.movie-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    font-family: 'Arial', sans-serif;
    background-color: rgb(194, 243, 243);

}

.movie-details:hover {
    transform: translateY(-7px);
    box-shadow: 10px 16px 12px rgba(7, 2, 78, 0.2);
}


.back-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #007bff;
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-button:focus {
    outline: none;
}



.movie-info img:hover {
    transform: scale(1.05);
}

.movie-info p {
    margin: 0;
    padding: 10px 20px;
    color: #333;
    text-align: justify;
    line-height: 1.5;
}

.movie-info p strong {
    color: #0056b3;
}

.movie-info .genres-rating-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.movie-info .genres {
    text-align: left;
}

.movie-info .rating {
    text-align: right;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.movie-media {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.movie-media img {
    width: 50%;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.movie-stats {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




@media (max-width: 768px) {
    .movie-media {
        flex-direction: column;
        align-items: center;
    }

    .movie-media img {
        width: 70%;
    }

    .movie-stats {
        width: 100%;
        align-items: center;
    }

    .movie-details {
        padding: 10px;
    }

    .movie-info {
        padding: 0;
    }

    .back-button {
        font-size: 20px;
        top: 10px;
        left: 10px;
    }

}